.App {
  text-align: center;
  height: 100vh;
  width: 100%;
/*   
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  transition: background-color 0.5s;
}

.App-header {
  display: flex;
  background-color: white;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  /* border-radius: 10px; */
}

.options{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.options p{
  cursor: pointer;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: rgb(196, 196, 0);
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.color-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s;
}

.color-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.btnChange{

}